/**************************/
/******ORDER PART START****/
/**************************/
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 94px);
  background-image: url("../../img/header/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.order::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(47, 48, 58, 0.3725490196);
  z-index: 1;
}

.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.order__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 696px;
}

.order__btn {
  margin-top: 30px;
}

/**************************/
/******ORDER PART END******/
/**************************/
/**************************/
/**EMPLOYMENT PART START***/
/**************************/
.employment {
  margin-top: 94px;
  margin-bottom: 94px;
}

.employment__desc {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.employment__desc-div {
  background-color: var(--lilac);
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.employment__desc-div-icon {
  padding-top: 25px;
  padding-bottom: 25px;
}

.employment__desc-item {
  max-width: 270px;
}

.employment__desc-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.employment__title {
  text-align: center;
  margin: 94px 0 50px;
}

.employment__images {
  display: flex;
  justify-content: space-between;
}

.employment__images-inner {
  position: relative;
}

.employment__images-desc {
  position: absolute;
  bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  line-height: 16px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.employment__img {
  display: block;
  max-width: 370px;
}

/**************************/
/**EMPLOYMENT PART END*****/
/**************************/
/**************************/
/******TEAM PART START*****/
/**************************/
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--lilac);
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__inner {
  display: flex;
  justify-content: space-between;
}

.team__item {
  max-width: 270px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 3px 3px var(--boxShadowCard);
  overflow: hidden;
}

.team__item-img {
  max-width: 270px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: transform 0.5s ease 0s;
}
.team__item-img:hover {
  transform: scale(1.05);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  margin-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 19px;
  color: var(--grey);
  margin: 10px 0 30px 0;
}

.team__item-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.team__item-icon-link {
  display: block;
  position: relative;
  z-index: 1;
}
.team__item-icon-link::after {
  content: "";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50%;
  top: -50%;
  transform: translate(50%, 8%);
  z-index: -1;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item-icon-link:hover::after {
  background-color: var(--blue);
}
.team__item-icon-link:hover svg path {
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--white);
}

/**************************/
/***TEAM CUSTOMERS END*****/
/**************************/
/**************************/
/***TEAM CUSTOMERS START***/
/**************************/
.customers {
  padding: 94px 0;
}

.customers__title {
  text-align: center;
  margin-bottom: 50px;
}

.customers__inner {
  display: flex;
  justify-content: space-between;
}

.customers__item {
  cursor: pointer;
}
.customers__item rect {
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item path {
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:hover rect {
  stroke: var(--blue);
}
.customers__item:hover path {
  fill: var(--blue);
}

/**************************/
/******TEAM PART END*******/
/**************************/