/**************************/
/******ORDER PART START****/
/**************************/
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 94px);
  background-color: var(--lightBlack);
}

.order__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 696px;
}

.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__btn {
  margin-top: 30px;
}

/**************************/
/******ORDER PART END******/
/**************************/
/**************************/
/**EMPLOYMENT PART START***/
/**************************/
.employment {
  margin-top: 94px;
  margin-bottom: 94px;
}

.employment__desc {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.employment__desc-item {
  max-width: 270px;
}

.employment__desc-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.employment__title {
  text-align: center;
  margin: 94px 0 50px;
}

.employment__images {
  display: flex;
  justify-content: space-between;
}

.employment__img {
  display: block;
  max-width: 370px;
}

/**************************/
/**EMPLOYMENT PART END*****/
/**************************/
/**************************/
/******TEAM PART START*****/
/**************************/
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--lilac);
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__inner {
  display: flex;
  justify-content: space-between;
}

.team__item {
  max-width: 270px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 3px 3px var(--boxShadowCard);
  overflow: hidden;
}

.team__item-img {
  max-width: 270px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: transform 0.5s ease 0s;
}
.team__item-img:hover {
  transform: scale(1.05);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  margin-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 19px;
  color: var(--grey);
  margin: 10px 0 30px 0;
}

/**************************/
/******TEAM PART END*******/
/**************************/