.portfolio {
  margin: 94px auto;
}
.portfolio__nav {
  display: flex;
  justify-content: space-between;
  max-width: 575px;
  margin: 0 auto 55px;
}
.portfolio__item {
  transition: all 0.5s ease 0s;
  .portfolio__btn {
    cursor: pointer;
    border: none;
    background-color: var(--lilac);
    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
    transition: all 0.3s ease 0s;
    &:hover,
    &.active {
      background-color: var(--blue);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: var(--white);
    }
  }
}
.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__cards-item {
  background-color: var(--cardBackground);
  border-radius: 3px;
  max-width: 370px;

  transition: box-shadow 0.3s ease 0s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__cards-div {
  position: relative;
  overflow: hidden;
}
.portfolio__card-description {
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 3px;
  right: 2px;
  bottom: 0;
  font-weight: 400;
  font-size: 18px;
  padding: 0 24px;
  transform: translateY(100%);
  line-height: 28px;
  color: var(--white);
  background: rgba(33, 150, 243, 0.9);
}
.portfolio__cards-item:hover .portfolio__card-description {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translateY(0);

  padding: 63px 24px;
}

.portfolio__card-box {
  position: relative;
  top: -8px;
  margin-left: 1px;
  margin-right: 1.5px;
  margin-bottom: -7px;
  padding: 20px 24px;
  background-color: white;
}
.portfolio__card-img {
  border-radius: 3px;
}
.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.portfolio__card-subtitle {
  font-size: 16px;
  line-height: 30px;
  color: var(--grey);
}
