.header {
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  &::after {
    content: "";
    background-color: var(--headerBottomBorder);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.header__top-logo {
  max-width: 238px;
}
.header__nav {
  width: 280px;
  position: relative;
  left: -150px;
}
.header__top-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__top-item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-42.5px + 4px);
    width: 0;
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
    transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }

  &:hover {
    color: var(--blue);
  }
}
.header__top-item.active {
  color: var(--blue);
  &::after {
    width: 100%;
  }
}
.header__top-contacts {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  max-width: 307px;
  width: 100%;
  a {
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 10px;
    &:hover {
      color: var(--blue);
      svg path {
        transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--blue);
      }
    }
  }
}
.header__top-email,
.header__top-phone {
  display: block;
  position: relative;

  &-icon {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &-icon--left {
    left: -15px;
  }
}
