:root {
  --black: #212121;
  --lightBlack: #2f303a;
  --blue: #2196f3;
  --grey: #757575;
  --white: #fff;
  --lilac: #f5f4fa;

  //
  --headerBottomBorder: #ececec;
  --cardBackground: #f6f6f6;
  --boxShadow: #282932;
  --boxShadowCard: #92929d76;

  //
  --footerLinks: #44454e;
}
